<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://oliverleigh.co.uk/sur/"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id          = "com.ssb.core"
    versionCode = "10"
    version     = "0.2.1" >

<!-- versionCode is optional and Android only -->

  <name>Student Soundboard</name>
  <access origin="*" />
  <plugin>
      <plugin name="InAppBrowser" value="org.apache.cordova.inappbrowser"/>
  </plugin>
   

  <description>
      A simple soundboard for Twynham Sixth Form.
  </description>

  <author href="http://www.oliverleigh.co.uk/" email="16262@twynhamschool.com">
      Oliver Leigh
  </author>
  
  <author href="http://www.twynhamschool.com/" email="16326@twynhamschool.com">
      Jordan Williams
  </author>
  <icon src="logo2.png"/>

</widget>
