<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id          = "com.ssb.core"
    versionCode = "10"
    version     = "0.2.1" >

<!-- versionCode is optional and Android only -->

  <name>Student Soundboard</name>
  <access origin="mailto:*" launch-external="yes" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <allow-intent href="mailto:*" />#
  <allow-navigation href="*" />

  <description>
      A simple soundboard for Twynham Sixth Form.
  </description>

  <author href="http://www.oliverleigh.co.uk/" email="16262@twynhamschool.com">
      Oliver Leigh
  </author>
  
  <author href="http://www.twynhamschool.com/" email="16326@twynhamschool.com">
      Jordan Williams
  </author>
  <icon src="logo2.png"/>

</widget>
