body{
    margin:0;
    padding:0;
    /* background-color:#d9d9d9; */
    background:url('assets/background.jpg') 100%;
    background-size:100% 100%;
    font-family: 'Oswald', sans-serif;
    color:#fff;
}
button{
    width:40vw;
    height:27vw;
    padding:0;
    margin:5vw;
    background-color:#000;
    display:inline;
    float:left;
    font-size:5vw;
    white-space:normal;
    border-radius:10vw 0 10vw 0;
    border:1.7vw solid #00ffff;
    font-family: 'Oswald', sans-serif;
    color:#feffe2;
    letter-spacing:0.3vw;
    /* box-shadow: 2vw 2vw 50px 0.7vw #80ffff; */
    /* opacity:0.8; */
    /* background:url('1.jpg'); */
    
    position:relative;
    transition-duration: 0s;
    -webkit-transition-duration: 0s; /* Safari */
    overflow:hidden;
}
button:after {
    content: "";
    background: #00ffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.6s;
}
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
button:focus { outline:0; }
.header{
    font-size:9vw;
    width:100%;
    padding:3vw;
    text-align:center;
    box-sizing:border-box;
    background-color:#000;
    border-bottom:1.7vw solid #00ffff;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    font-size:1.8vh;
    padding:0.5vh;
    box-sizing:border-box;
    background-color:#000;
    text-align:center;
    letter-spacing:0.3vw;
}
div.overlay{
    width:100%;
    height:100%;
    background-color:#fff;
    text-align:center;
    animation-name:divstart;
    animation-duration:4s;
    animation-timing-function: ease;
    margin-top:-100vh;
    padding:0;
}
img.overlay{
    height:20vh;
    width:20vh;
    animation-name:imgstart;
    animation-duration:4s;
    animation-timing-function: ease;
}

@keyframes imgstart{
    0%      {transform:rotate(0deg);margin-top:-300px;}
    20%     {transform:rotate(360deg);margin-top:0px;}
    30%     {transform:rotate(360deg);margin-top:0px;}
    50%     {transform:rotate(0deg);margin-top:300px;}
    100%    {margin-top:300px;}
}

@keyframes divstart{
    0%      {margin-top:0;padding:40vh 0;}
    50%     {margin-top:0;padding:40vh 0;}
    80%     {margin-top:-100vh;padding:0;}
    100%    {margin-top:-100vh;padding:0;}
}