body{
    margin:0;
    padding:0;
    /* background-color:#d9d9d9; */
    background:url('background.jpg') 100%;
    background-size:100% 100%;
    font-family: 'Oswald', sans-serif;
    color:#fff;
}
button{
    width:40vw;
    height:27vw;
    padding:0;
    background-color:#000;
    display:inline;
    float:left;
    font-size:5vw;
    white-space:normal;
    border-radius:10vw 0 10vw 0;
    border:1.7vw solid #00ffff;
    font-family: 'Oswald', sans-serif;
    color:#feffe2;
    letter-spacing:0.3vw;
    /* box-shadow: 2vw 2vw 50px 0.7vw #80ffff; */
    /* opacity:0.8; */
    /* background:url('1.jpg'); */
    
    position:relative;
    transition-duration: 0s;
    -webkit-transition-duration: 0s; /* Safari */
    overflow:hidden;
}
button:nth-of-type(odd){
    margin:1.5vh 3vw 1.5vh 6vw;
}
button:nth-of-type(even){
    margin:1.5vh 6vw 1.5vh 3vw;
}
button:nth-of-type(1){
    margin-top:23.5vh;
}
button:nth-of-type(2){
    margin-top:23.5vh;
}
button:after {
    content: "";
    background: #00ffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.6s;
}
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
button:focus { outline:0; }
.header{
    width:40vw;
    height:27vw;
    padding:auto;
    margin:5vw;
    background-color:#fff;
    font-size:5vw;
    white-space:normal;
    border-radius:10vw 0 10vw 0;
    border:1.7vw solid #00ffff;
    /* box-shadow: 2vw 2vw 50px 0.7vw #80ffff; */
    /* opacity:0.8; */
    /* background:url('1.jpg'); */
    
    /* font-size:9vw;
    width:100%;
    padding:3vw;
    text-align:center;
    box-sizing:border-box;
    background-color:#000;
    border-bottom:1.7vw solid #00ffff; */
}
/*
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    font-size:1.8vh;
    padding:0.5vh;
    box-sizing:border-box;
    background-color:#000;
    text-align:center;
    letter-spacing:0.3vw;
}
*/
div.overlay{
    width:100%;
    height:100%;
    background-color:#fff;
    text-align:center;
    animation-name:divstart;
    animation-duration:4s;
    animation-timing-function: ease;
    padding:0;
    margin-top:-100vh;
}
img.overlay{
    height:15vh;
    width:15vh;
    display:inline;
    float:left;
    background:#fff;
    /* animation-name:imgstart;
    animation-duration:4s;
    animation-timing-function: ease; */
}
div.overlayimg{
    animation-name:imgstart;
    animation-duration:4s;
    animation-timing-function: ease;
    height:auto;
    padding:1vh;
    box-sizing:border-box;
    width:50vh;
    height:19vh;
    text-align:left;
    overflow:hidden;
    margin:0 auto;
    left:auto;
    white-space: nowrap;
    position:fixed;
    top:1.5vh;
    margin-right:-25vh;
    right:50%;
}
div.ss{
    color:#000;
    display:inline;
    font-size:4.6vh;
    font-weight:bold;
    letter-spacing:0.4vh;
    animation-name:headerstart;
    animation-duration:4s;
    animation-timing-function: ease;
    float:right;
    width:30vh;
    opacity:1;
}

@keyframes imgstart{
    0%      {transform:rotate(0deg);top:10vh;width:20vh;margin-right:-10.5vh;}
    20%     {transform:rotate(360deg);top:40vh;width:20vh;margin-right:-10.5vh;}
    30%     {transform:rotate(360deg);top:40vh;width:20vh;margin-right:-10.5vh;}
    50%     {transform:rotate(0deg);top:70vh;width:20vh;margin-right:-10.5vh;}
    80%     {top:1.5vh;width:50vh;margin-right:-25vh;}
}

@keyframes headerstart{
    0%      {opacity:0;margin-left:-30vh;}
    60%     {opacity:0;}
    80%     {opacity:1;margin-left:-30vh;}
    100%    {opacity:1;margin-left:0vh;}
}

@keyframes divstart{
    0%      {margin-top:0;padding:40vh 0;}
    50%     {margin-top:0;padding:40vh 0;}
    80%     {margin-top:-100vh;padding:0;}
    100%    {margin-top:-100vh;padding:0;}
}
